body {
    font-family: 'Poppins',
        sans-serif;
    color: #666;
    background-color: #fff;
    scroll-behavior: smooth;
}
i {
    width: 500px;
    height: 250px;
    margin: 50px;
}
p {
    padding: 0;
    margin: 0 0 30px 0;
    text-align: center;
    padding-top: 4px;
}

h1,
h2,
h3,
h4,
h5,
h5 {
    font-family: 'Raleway',
        sans-serif;
    color: #353535;
    font-weight: 500;
    margin: 0 0 30px 0;
    padding: 0;
    text-align: center;


}

section {
    overflow: hidden;
    margin: 80px 0;
    padding: 0;
}

/* ==== hero section ==== */
#hero {
    width: 100%;
    height: 100%;
    background: linear-gradient(#81589f5b, #81589f5d),
        url(hero.jpg) center center fixed;
    background-size: cover;
}

#hero .logo {
    display: flex;  
    justify-content: center;
    padding-top: 30vh;
    padding-bottom: 15vh;
    
}


#hero .logo img {
    width: 300px;
    height: 300px;
    
}

#hero h1 {
    display: flex;
    size: 50px;
    justify-content: center;
    color: #000000;
    padding-bottom: 15px;
}

#hero h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    padding-bottom: 3%;
}

#hero .navigation {
    display: flex;
    justify-content: center;
}

header .tri {
    display: flex;
    justify-content: center;
}

header .tri-down {
    width: 0;
    height: 0;
    border-top: 16px solid #81589fc0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}

@media(max-width: 600px) {
    #hero {
        width: 100%;
        height: 100vh;
    }
    p {
        font-size: .8rem;
    }

    #hero .logo {
        padding-top: 15vh;
        padding-bottom: 7vh;
    }

    #hero .logo img {
        width: 190px;
        height: 190px;
    }

    #hero h1 {
        padding-bottom: 7px;
    }

    #hero h3 {
        padding-bottom: 20px;
        font-size: 1.5rem;
    }

    #hero .tri-down {
        width: 0;
        height: 0;
        border-top: 8px solid #81589fc0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
    }

}

/* ==== intro page ==== */

#intro-page svg.svg-inline--fa {
    color: #3B3B98;
    font-size: 1.5rem;
    margin: 20px 0;
}

/* ==== service carousel ==== */

.carousel .carousel-item {
    height: 100vh;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    min-height: 100%;
}

@media (min-width: 1250px){
.carousel-caption {
    top: 20%;
    left: 50%;
}    
}
.carousel-caption h2 {
    text-align: left;
    color: #fff;
    font-size: 2.5rem;

}
.carousel-item .btn {
color: #000;
background: #fff;
}
.carousel-item:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
}
@media (max-width: 769px) {
   
    
    .carousel h2 {
        font-size: 1.5rem;
        text-align: center;
    }
    .carousel p {
        font-size: 12px;
        text-align: center;
    }
    .carousel .btn {
       display: flex;
       justify-content: center;
       color: white;
       background: rgba(0, 0, 0, 0.418);
       border: none;
       
    }
    
}

/* ==== about ==== */
@media (max-width:1020px){
    #about h2 {
        margin-top: 30px;
    }
}

/* ==== program ==== */
.programs .logo img {
    width: 100px;
    height: 100px;
}
.programs .logo {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.programs h2 {
    font-size: 2.5rem;
    font-weight: 500;
    padding-bottom: 10px;
}
.programs h4 {
    text-align: left;
    color: #3B3B98;
    padding-top: 10px;
}
.programs p, 
.programs h6{
    color: #3B3B98;
}
.programs .btn {
    color: white;
    background-color:  #3B3B98;
    margin-bottom: 30px;
}

/* ==== footer ==== */
footer {
    padding: 50px 0 0 0;
    background:#3498db;
    color: white;
}
footer h4 {
    color: white;
}
.info h4, 
.info h6{
    padding: 0 0 40px 20px ;
    text-align: left;
    color: white;
}
textarea, input, .form-group>.btn {
    box-sizing: border-box;
    width: 90%;
}
.form-group input {
    height: 40px;
}
.form-group textarea {
    height: 130px;
}
footer svg.svg-inline--fa {
    font-size: 1.5rem;
    color: #3B3B98;
    transition: all .2s ease-in-out;
}
 footer .service-icon {
     /* float: ; */
     /* padding:0; */
     /* line-height: 45px; */
     height: 45px;
     width: 45px;
     border-radius: 50%;
     background: #fff;
     margin-right: 5px;
     margin-left: 45%;
     text-align: center;
     display: flex;
     justify-content: center;
    align-items: center;
    }
footer .svg-inline--fa:hover {
    color: #000;
    transform: scale(1.2);
}

footer .footer-container {
    background: #111;
    columns: #fff;
    padding: 20px 0 ;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}
.btn {
    transition: all .2s ease-in-out;
}
.btn:hover {
    transform: scale(1.1);
}
@media (max-width: 1020px){
   footer .col-md-12 {
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}
/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(40, 100%, 98%);
  --first-color-light: hsl(38, 100%, 95%);
  --first-color-alt: hsl(39, 100%, 95%);
  --second-color: hsl(0, 0%, 0%);
  --dark-color: hsl(212, 40%, 12%);
  --white-color: hsl(212, 4%, 95%);
  --body-color: hsl(212, 12%, 44%);
  --container-color: hsl(0, 0%, 24%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Bai Jamjuree", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: 1rem;
}

/*=============== BASE ===============*


a {
  text-decoration: none;
}

/*=============== CARD ===============*/

.card__container {
  padding-block: 5rem;
}

.card__content {
  margin-inline: 1.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card__article {
  border-radius: 1.25rem;
  overflow: hidden;
}

.card__image {
  position: relative;
  background-color: var(--first-color-light);
  padding-top: 1.5rem;
  margin-bottom: -.75rem;
  align-items: center;
}

.card__data {
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  z-index: 10;
  height: 250px;
}

.card__img {
  width: 180px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.card__shadow {
  width: 200px;
  height: 200px;
  background-color: var(--first-color-alt);
  border-radius: 50%;
  position: absolute;
  top: 3.75rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  filter: blur(45px);
}

.card__name {
  font-size: var(--h2-font-size);
  color: var(--second-color);
  margin-bottom: .15rem;
}

.card__description {
    color: #fff;
  font-weight: 500;
}

/* Swiper class */
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: var(--second-color);
  display: none;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-pagination-bullet {
  background-color: hsl(212, 32%, 40%);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--second-color);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .card__data {
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__content {
    margin-inline: 3rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .card__container {
    max-width: 1120px;
  }

  .swiper-button-prev {
    left: -1rem;
  }
  .swiper-button-next {
    right: -1rem;
  }
}
.container-map{
    width: 100%;
    height: 600px;
}